<div class="content">
    <header>
        <h2>Modifier un Formateur</h2>
    </header>
    <form #formateurItemForm="ngForm" (ngSubmit)="editFormateur(formateurItemForm.value)">
        <div class="row">
            <div class=" col-1">
                <label for="nom">Nom</label>
            </div>
            <div class=" col-3">
                <input type="text" name="nom" id="nom"  [(ngModel)]="formateur.nom" disabled>
            </div>
            <div class=" col-1">
                <label for="prenom">Prenom</label>
            </div>
            <div class=" col">
                <input type="text" name="prenom" id="prenom" [(ngModel)]="formateur.prenom" disabled>
            </div>
        </div>
        <div class="row">
            <div class="col-1">
                <label for="adresse">Adresse</label>
            </div>
            <div class=" col-3">
                <input type="text" name="adresse" id="adresse" [(ngModel)]="formateur.adresse" required>
            </div>
            <div class=" col-1">
                <label for="email">Mail</label>
            </div>
            <div class=" col">
                <input type="email" name="email" id="email" [(ngModel)]="formateur.email" required>
            </div>
        </div>
        <div class="row">
            <div class="col-1">
                <label for="domaineExpertise">Domaine d'expertise</label>
            </div>
            <div class=" col-3">
                <input type="text" name="domaineExpertise" id="domaineExpertise"  [(ngModel)]="formateur.domaineExpertise" required>
            </div>
        </div>
        <button type="submit" [disabled]="!formateurItemForm.form.valid">Modifier</button>
    </form>
</div>